<section id="contactForm">
  <div class="container-fluid contact-form">
    <div class="col-md-4 col-md-offset-4">
      <h2 class="title formh">Meer <span class="script">Informatie</span> ?</h2>
      <p class="inhoudt formp">
        Stuur mij een berichtje via het onderstaande formulier
      </p>
      <form class="" action="https://formspree.io/c.faulmann1988@gmail.com" method="post">
          <div class="form-group">
            <label for="formName"><span class="formp">Naam</span></label>
            <input type="text" class="form-control" id="formName" placeholder="jouw naam?">
          </div>
          <div class="form-group">
            <label for="formEmail"<span class="formp">Email</span></label>
            <input type="email" class="form-control" id="formEmail" placeholder="jouw@mail.nl">
          </div>
          <div class="form-group">
            <label for="formMessage"><span class="formp">Bericht</span></label>
            <textarea class="form-control" name="name" rows="8" cols="40"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-danger" value="Send">Verzenden</button>
          </div>
        </form>
    </div>
  </div>
</section>
