<section id="feedback">
  <div class="container-fluid feedback">
    <div class="col-md-12 col-xs-12">
      <h2 class="title">Wat zeggen <span class="script">klanten</span> over mijn werk</h2>
      <hr>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <blockquote id="style" class="scrollflow -slide-right -opacity" cite="http://">
            <p class="padt">
              Prettige samenwerking! Er wordt actief meegedacht. Ook het bijhouden en aanpassingen worden snel doorgevoerd. Aanrader!
            </p>
            <div class="info">
              <div class="pull-left">
                <span class="feedback-name">Ellen Appelbrij</span>
                <span class="feedback-klant">Jan Ligthartschool</span>
              </div>
            </div>
          </blockquote>
        </div>
        <div class="col-md-4 col-xs-12">
          <blockquote id="style" class="scrollflow -slide-top -opacity" cite="http://">
            <p class="padt">
              Op korte termijn kon er voldaan worden aan mijn eisen. Vlotte en heldere communicatie. scherp oog voor details. Prijs, kwaliteit en service zijn erg goed.
            </p>
            <div class="info">
              <div class="pull-left">
                <span class="feedback-name">Zjoly Onrust</span>
                <span class="feedback-klant">Jollyfish Productions</span>
              </div>
          </blockquote>
        </div>
        <div class="col-md-4 col-xs-12">
          <blockquote id="style" class="scrollflow -slide-left -opacity" cite="http://">
            <p class="padt">
              Zeer geschikt voor startende ondernemers. Er wordt meegedacht over de uitstraling, bereikbaarheid en overal is een oplossing voor. Zeer prettige samenwerking gehad en zeker aan te raden voor iedereen die een website wil.
            </p>
            <div class="info">
              <div class="pull-left">
                <span class="feedback-name">Marjolein Eigenaar</span>
                <span class="feedback-klant">Bloei Sneek</span>
              </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
