<section id="portfolio">
  <div class="container portfolio">
    <h2 class="title fonth2">Bekijk <span class="script">mijn</span> portfolio</h2>
    <hr>
    <div class="row">
      <div class="col-md-4 gallery">
        <a class="thumbnail" data-caption="Image caption">
          <img class="picture" src="img/website1.png" alt="...">
        </a>
      </div>
      <div class="col-md-4 gallery">
        <a class="thumbnail">
          <img src="img/website2.png" alt="...">
        </a>
      </div>
      <div class="col-md-4 gallery">
        <a class="thumbnail">
          <img src="img/website3.png" alt="...">
        </a>
      </div>
      </div>
      <div class="row">
        <div class="col-md-4 gallery">
          <a class="thumbnail">
            <img src="img/website4.png" alt="...">
          </a>
        </div>
        <div class="col-md-4 gallery">
          <a class="thumbnail">
            <img src="img/website5.png" alt="...">
          </a>
        </div>
        <div class="col-md-4 gallery">
          <a class="thumbnail">
            <img src="img/website6.png" alt="...">
          </a>
        </div>
        </div>
    </div>
</section>
