<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Jquery scrollify -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.17/jquery.scrollify.min.js"></script>
<!-- zoomify.min.js -->
<script src="js/lib/zoomify.min.js"></script>
<!-- scrollflow.js -->
<script src="js/lib/eskju.jquery.scrollflow.js"></script>
<!-- eigen-->
<script src="js/script.js"></script>
